.card {
  width: 300px;
  border-radius: 1rem;
  display: flex;
  padding: 1rem;

  .avatar {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    display: flex;

    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .review {

    .name {
      font-family: "Lucida Bright";
    }

    .rating {
      font-size: .8rem;
      margin-bottom: 1rem;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
