.card {
  width: 292px;
  height: 292px;
  margin: .5rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom, #eef5f6, #f6f6f6);

  @media screen and (max-width: 1300px) {
    width: 216px;
    height: 216px;
    overflow: hidden;
  }
}
