.wrapper {
  width: 100%;
  color: #303844;
  padding: 0 1rem;

  @media screen and (max-width: 1300px) {
    max-width: 960px;
  }

  @media screen and (max-width: 768px) {

  }

  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: 768px) {
      justify-content: flex-start;
    }
  }

  .reviews {
    max-width: 1300px;
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }
}
