.card {
  width: 633px;
  border-radius: 1rem;
  background: linear-gradient(to bottom, #eef6f3, #f6f6f6);
  display: flex;
  padding: 1rem;

  .avatar {
    margin-right: 1rem;

    img {
      border-radius: 50%;
    }
  }

  .review {

    p {
      margin: 0;
      padding: 0;
    }

    .name {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 10px;
    }

    .text {
      background-color: #ffffff;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
}
