.review {
  width: 600px;
  height: 150px;
  margin: .5rem;
  display: flex;
  background: linear-gradient(to bottom, #eef5f6, #f6f6f6);
  border-radius: 1rem;
  overflow: hidden;
  padding-right: 1rem;

  @media screen and (max-width: 576px) {
    margin: 1rem 0 0 0;
  }

  .avatar {
    margin-right: 1rem;
  }

  .info {
    color: #303844;

    .name {
      font-size: 20px;
      font-weight: bold;
      margin-top: 5px;
    }
  }
}
